In [1]:
import numpy as np 
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
raw_data = pd.read_csv(r'C:/Users/ASUS/Downloads/TrustProperty.csv')
raw_data

,Price,Resid_area,Air_qual,Num_rooms,Age,Teachers,Poor_prop,N_hos_beds,N_hot_rooms,Rainfall,Parks,Airport,Sold
0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.1920,23,0.049347,Yes,0
1,21.6,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.1728,42,0.046146,No,1
2,34.7,37.07,0.469,7.185,61.1,22.2,4.03,7.394,101.1200,38,0.045764,No,0
3,33.4,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.2672,45,0.047151,Yes,0
4,36.2,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.2896,55,0.039474,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,28.6,43.92,0.437,6.678,31.1,24.0,6.27,6.972,10.2288,44,0.042031,Yes,0
296,27.1,43.92,0.437,6.549,51.0,24.0,7.39,10.442,10.2168,26,0.045356,No,1
297,20.3,43.92,0.437,5.790,58.0,24.0,15.84,7.606,11.1624,42,0.052079,Yes,0
298,22.5,32.24,0.400,6.345,20.1,25.2,4.97,9.450,13.1800,48,0.036878,No,1
299,29.0,32.24,0.400,7.041,10.0,25.2,4.74,7.980,11.2320,36,0.041376,Yes,1

In [3]:
df = raw_data.copy()

In [5]:
y = df['Sold']
x1 = df.drop(['Sold', 'Airport'], axis =1) 
x1

,Price,Resid_area,Air_qual,Num_rooms,Age,Teachers,Poor_prop,N_hos_beds,N_hot_rooms,Rainfall,Parks
0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.1920,23,0.049347
1,21.6,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.1728,42,0.046146
2,34.7,37.07,0.469,7.185,61.1,22.2,4.03,7.394,101.1200,38,0.045764
3,33.4,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.2672,45,0.047151
4,36.2,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.2896,55,0.039474
...,...,...,...,...,...,...,...,...,...,...,...
295,28.6,43.92,0.437,6.678,31.1,24.0,6.27,6.972,10.2288,44,0.042031
296,27.1,43.92,0.437,6.549,51.0,24.0,7.39,10.442,10.2168,26,0.045356
297,20.3,43.92,0.437,5.790,58.0,24.0,15.84,7.606,11.1624,42,0.052079
298,22.5,32.24,0.400,6.345,20.1,25.2,4.97,9.450,13.1800,48,0.036878
299,29.0,32.24,0.400,7.041,10.0,25.2,4.74,7.980,11.2320,36,0.041376

In [6]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y, x )
result = reg_log.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.581360
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Sold   No. Observations:                  300
Model:                          Logit   Df Residuals:                      288
Method:                           MLE   Df Model:                           11
Date:                Fri, 04 Aug 2023   Pseudo R-squ.:                  0.1560
Time:                        21:36:27   Log-Likelihood:                -174.41
converged:                       True   LL-Null:                       -206.64
Covariance Type:            nonrobust   LLR p-value:                 1.364e-09
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
const          -9.2294      3.481     -2.651      0.008     -16.053      -2.406
Price          -0.2645      0.047     -5.616      0.000      -0.357      -0.172
Resid_area      0.0333      0.030      1.102      0.270      -0.026       0.092
Air_qual       -3.8698      3.368     -1.149      0.251     -10.471       2.731
Num_rooms       1.3218      0.502      2.635      0.008       0.338       2.305
Age             0.0069      0.007      0.931      0.352      -0.008       0.021
Teachers        0.2874      0.075      3.811      0.000       0.140       0.435
Poor_prop      -0.1976      0.045     -4.390      0.000      -0.286      -0.109
N_hos_beds      0.2030      0.084      2.416      0.016       0.038       0.368
N_hot_rooms    -0.0298      0.047     -0.633      0.527      -0.122       0.063
Rainfall        0.0046      0.010      0.451      0.652      -0.016       0.025
Parks          34.6663     31.858      1.088      0.277     -27.773      97.106
===============================================================================
"""

In [10]:
x2 = df[['Price', 'Num_rooms', 'Poor_prop']]
X = sm.add_constant(x2)

In [11]:
reg2 = sm.Logit(y,X)
result2 = reg2.fit()

Optimization terminated successfully.
         Current function value: 0.626278
         Iterations 5

In [12]:
result2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Sold   No. Observations:                  300
Model:                          Logit   Df Residuals:                      296
Method:                           MLE   Df Model:                            3
Date:                Fri, 04 Aug 2023   Pseudo R-squ.:                 0.09075
Time:                        21:42:49   Log-Likelihood:                -187.88
converged:                       True   LL-Null:                       -206.64
Covariance Type:            nonrobust   LLR p-value:                 3.599e-08
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.1079      2.197     -0.049      0.961      -4.414       4.198
Price         -0.1811      0.039     -4.649      0.000      -0.257      -0.105
Num_rooms      0.9246      0.431      2.144      0.032       0.079       1.770
Poor_prop     -0.1371      0.033     -4.159      0.000      -0.202      -0.073
==============================================================================
"""

In [14]:
X['Airport'] = df['Airport'].map({'Yes':1, 'No': 0})

reg3 = sm.Logit(y,X)

In [15]:
re3 = reg3.fit()

Optimization terminated successfully.
         Current function value: 0.625240
         Iterations 5

In [17]:
re3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Sold   No. Observations:                  300
Model:                          Logit   Df Residuals:                      295
Method:                           MLE   Df Model:                            4
Date:                Fri, 04 Aug 2023   Pseudo R-squ.:                 0.09226
Time:                        21:49:01   Log-Likelihood:                -187.57
converged:                       True   LL-Null:                       -206.64
Covariance Type:            nonrobust   LLR p-value:                 1.055e-07
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.1113      2.200     -0.051      0.960      -4.422       4.200
Price         -0.1782      0.039     -4.563      0.000      -0.255      -0.102
Num_rooms      0.9273      0.431      2.149      0.032       0.082       1.773
Poor_prop     -0.1339      0.033     -4.047      0.000      -0.199      -0.069
Airport       -0.2010      0.255     -0.790      0.430      -0.700       0.298
==============================================================================
"""

In [18]:
def confusion_matrix(data,actual_values,model):
        
        # Confusion matrix 
        
        # Parameters
        # ----------
        # data: data frame or array
            # data is a data frame formatted in the same way as your input data (without the actual values)
            # e.g. const, var1, var2, etc. Order is very important!
        # actual_values: data frame or array
            # These are the actual values from the test_data
            # In the case of a logistic regression, it should be a single column with 0s and 1s
            
        # model: a LogitResults object
            # this is the variable where you have the fitted model 
            # e.g. results_log in this course
        # ----------
        
        #Predict the values using the Logit model
        pred_values = model.predict(data)
        # Specify the bins 
        bins=np.array([0,0.5,1])
        # Create a histogram, where if values are between 0 and 0.5 tell will be considered 0
        # if they are between 0.5 and 1, they will be considered 1
        cm = np.histogram2d(actual_values, pred_values, bins=bins)[0]
        # Calculate the accuracy
        accuracy = (cm[0,0]+cm[1,1])/cm.sum()
        # Return the confusion matrix and 
        return cm, accuracy

In [19]:
confusion_matrix(X, y, re3)

(array([[110.,  54.],
        [ 52.,  84.]]),
 0.6466666666666666)

In [22]:
X

     const  Price  Num_rooms  Poor_prop  Airport
0      1.0   24.0      6.575       4.98        1
1      1.0   21.6      6.421       9.14        0
2      1.0   34.7      7.185       4.03        0
3      1.0   33.4      6.998       2.94        1
4      1.0   36.2      7.147       5.33        0
..     ...    ...        ...        ...      ...
295    1.0   28.6      6.678       6.27        1
296    1.0   27.1      6.549       7.39        0
297    1.0   20.3      5.790      15.84        1
298    1.0   22.5      6.345       4.97        0
299    1.0   29.0      7.041       4.74        1

[300 rows x 5 columns]

In [21]:
test_df = pd.read_csv(r'C:/Users/ASUS/Downloads/TrustProperty_Test.csv')
test_df

   Price  Num_rooms  Poor_prop  Airport  Sold
0    9.6      6.461      18.05        1     0
1    8.2      6.152      26.45        0     1
2    8.4      5.935      34.02        1     0
3   12.8      5.627      22.88        1     0
4   10.5      5.818      22.11        0     1
5   17.1      6.406      19.52        1     0
6   14.8      6.219      16.59        0     0
7   15.4      6.485      18.85        0     0
8   10.8      5.854      23.79        0     0
9   11.8      6.459      23.98        1     0

In [23]:
y_test = test_df['Sold']
x_test = test_df.drop(['Sold'], axis = 1 )

In [24]:
X_test = sm.add_constant(x_test)

In [25]:
confusion_matrix(X_test, y_test, re3)

(array([[3., 5.],
        [0., 2.]]),
 0.5)